.contact-title {
  margin-top: 120px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.contact .contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 120px;
}
.contact .contact-wrapper .contact-wrapper-info {
  width: 710px;
  height: 435px;
  left: 80px;
  top: 5209px;
  background: #ffffff;
}
.contact .contact-wrapper .contact-wrapper-info h1 {
  font-family: "Inter";
  font-style: normal;
  padding-left: 79px;
  padding-top: 59px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 21px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}
.contact .contact-wrapper .contact-wrapper-info ul {
  list-style-type: none;
}
.contact .contact-wrapper .contact-wrapper-info ul li p:nth-child(1) {
  font-family: "Inter";
  font-style: normal;
  margin-top: 8px;
  margin-left: 35px;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #004cca;
}
.contact .contact-wrapper .contact-wrapper-info ul li p:nth-child(2) {
  max-width: 510px;
  font-family: "Inter";
  font-style: normal;
  margin-left: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}
.contact .contact-wrapper .contact-wrapper-info ul .social-links {
  display: flex;
  gap: 15px;
  margin-left: 35px;
}
.contact .contact-wrapper .contact-wrapper-info ul .social-links img {
  width: 30px;
  height: 30px;
  margin-top: 8px;
}
.contact .contact-wrapper .contact-forms {
  width: 710px;
  height: 435px;
  left: 810px;
  top: 5209px;
  background: #ffffff;
}
.contact .contact-wrapper .contact-forms h2 {
  font-family: "Inter";
  font-style: normal;
  max-width: 497px;
  margin-left: 70px;
  margin-top: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.contact .contact-wrapper .contact-forms .contact-form {
  overflow: hidden;
}
.contact .contact-wrapper .contact-forms .contact-form textarea {
  max-width: 560px;
  width: 90%;
  height: 136px;
  background-color: #f4f3f3;
  border: none;
  outline: none;
  margin-left: 10%;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .contact .contact-wrapper .contact-forms .contact-form textarea {
    width: 100%;
    margin-left: 0;
  }
}
.contact .contact-wrapper .contact-forms .contact-form textarea::-moz-placeholder {
  text-indent: 19px;
  line-height: 34px;
}
.contact .contact-wrapper .contact-forms .contact-form textarea::placeholder {
  text-indent: 19px;
  line-height: 34px;
}
.contact .contact-wrapper .contact-forms .contact-form .input-group {
  display: flex;
  margin-top: 24px;
}
.contact .contact-wrapper .contact-forms .contact-form .input-group input {
  max-width: 480px;
  width: 100%;
  height: 70px;
  margin-left: 10%;
  background-color: #f4f3f3;
  border: none;
  outline: none;
}
.contact .contact-wrapper .contact-forms .contact-form .input-group input::-moz-placeholder {
  text-indent: 27px;
  line-height: 46px;
}
.contact .contact-wrapper .contact-forms .contact-form .input-group input::placeholder {
  text-indent: 27px;
  line-height: 46px;
}
@media (max-width: 768px) {
  .contact .contact-wrapper .contact-forms .contact-form .input-group {
    width: 100%;
    margin-left: 0;
  }
}
.contact .contact-wrapper .contact-forms .contact-form::-moz-placeholder {
  text-indent: 27px;
  line-height: 46px;
}
.contact .contact-wrapper .contact-forms .contact-form::placeholder {
  text-indent: 27px;
  line-height: 46px;
}
.contact .contact-wrapper .contact-forms button {
  width: 80px;
  height: 70px;
  background: #004cca;
  border: none;
}
@media (max-width: 1090px) {
  .contact-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .contact .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
  }
}
@media (max-width: 765px) {
  .contact .container {
    margin-top: -40px;
    padding: 10px 22px;
    margin-bottom: -20px;
  }
  .contact .contact-title {
    font-size: 18px;
    line-height: 24px;
  }
  .contact .contact-wrapper .contact-wrapper-info {
    max-width: 320px;
    height: 306px;
  }
  .contact .contact-wrapper .contact-wrapper-info h1 {
    max-width: 300px;
    flex-wrap: wrap;
    font-family: "Inter";
    font-style: normal;
    padding-left: 10%;
    padding-top: 8%;
    font-size: 14px;
    line-height: 36px;
  }
  .contact .contact-wrapper .contact-wrapper-info ul {
    list-style-type: none;
  }
  .contact .contact-wrapper .contact-wrapper-info ul li p:nth-child(1) {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 14px;
  }
  .contact .contact-wrapper .contact-wrapper-info ul li p:nth-child(2) {
    margin-left: 1%;
    font-size: 13px;
    line-height: 16px;
  }
  .contact .contact-wrapper .contact-wrapper-info ul .social-links {
    display: flex;
    gap: 5px;
    margin-left: 1%;
  }
  .contact .contact-wrapper .contact-wrapper-info ul .social-links img {
    width: 20px;
    height: 15px;
    margin-top: 26px;
  }
  .contact .contact-wrapper .contact-forms {
    max-width: 320px;
    height: 306px;
  }
  .contact .contact-wrapper .contact-forms h2 {
    max-width: 281px;
    margin-left: 10%;
    margin-top: 8%;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .contact .contact-wrapper .contact-forms .contact-form {
    overflow: hidden;
  }
  .contact .contact-wrapper .contact-forms .contact-form textarea {
    max-width: 280px;
    width: 90%;
    height: 120px;
    background-color: #f4f3f3;
    border: none;
    outline: none;
    margin-left: 20px;
    margin-top: 24px;
  }
}
@media (max-width: 765px) and (max-width: 768px) {
  .contact .contact-wrapper .contact-forms .contact-form textarea {
    width: 100%;
  }
}
@media (max-width: 765px) {
  .contact .contact-wrapper .contact-forms .contact-form textarea::-moz-placeholder {
    text-indent: 19px;
    line-height: 34px;
  }
  .contact .contact-wrapper .contact-forms .contact-form textarea::placeholder {
    text-indent: 19px;
    line-height: 34px;
  }
}
@media (max-width: 765px) {
  .contact .contact-wrapper .contact-forms .contact-form .input-group {
    display: flex;
    margin-top: 24px;
  }
  .contact .contact-wrapper .contact-forms .contact-form .input-group input {
    max-width: 230px;
    width: 100%;
    height: 50px;
    margin-left: 6%;
    background-color: #f4f3f3;
    border: none;
    outline: none;
  }
  .contact .contact-wrapper .contact-forms .contact-form .input-group input::-moz-placeholder {
    text-indent: 27px;
    line-height: 46px;
  }
  .contact .contact-wrapper .contact-forms .contact-form .input-group input::placeholder {
    text-indent: 27px;
    line-height: 46px;
  }
}
@media (max-width: 765px) and (max-width: 768px) {
  .contact .contact-wrapper .contact-forms .contact-form .input-group {
    width: 100%;
  }
}
@media (max-width: 765px) {
  .contact .contact-wrapper .contact-forms .contact-form::-moz-placeholder {
    text-indent: 27px;
    line-height: 46px;
  }
  .contact .contact-wrapper .contact-forms .contact-form::placeholder {
    text-indent: 27px;
    line-height: 46px;
  }
}
@media (max-width: 765px) {
  .contact .contact-wrapper .contact-forms button {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=contact.css.map */